
<div class="ventana_respuestas">
  <div class="contenedor_titulo_respuesta centrar_h">
    <div class="titulo centrar_h">
      {{pregunta.title}}

    </div>
    <div class="sub_text">{{pregunta.madeAt}}</div>
  </div>

  <div>
    <div class="encabezado_preguntas">
      <div class="titulo_2 centrar_v centrar_l">Publicado por:</div>
      <div class="sub_text centrar_v centrar_r">{{pregunta.user.firstname}}
        {{pregunta.user.lastname}}</div>
      <button class="etiqueta centrar_v centrar_l">
        <img class="centrar_v" src={{pregunta.course.image}} style="width: 45px; height:40px">
        <p class="centrar_v titulo_pregunta">{{pregunta.course.name}}</p>
      </button>
    </div>
  </div>


  <!-- INICIO RESPUESTA TARGET -->
  <div *ngFor="let answer of answers">
    <div *ngIf="answer.question.id==id_question">
      <div class="contenedor_target_respuesta">
        <div class="encabezado_target_pregunta">
          <div class="titulo_2 centrar_l">Respuesta de:</div>
          <div class="sub_text">{{answer.user.firstname}} {{answer.user.lastname}}</div>
          <div class="sub_text">{{answer.madeAt}}</div>
        </div>
        <div class="titulo_2">{{answer.description}}</div>
      </div>
    </div>
  </div>
  <!-- FIN RESPUESTA TARGET -->
  <h2>Cuerpo o descripcion de la respuesta</h2>
  <textarea type="text" class="input_descripcion" [(ngModel)]="contenido"></textarea>
  <a href="agregar_respuesta" class="decoration" (click)="agregar_respuesta(contenido)">

    <div class="boton responder" >Responder</div>
  </a>
</div>
