<div class="form-container complete-view-port">
  <mat-card class="form-card">
    <div class="complete-width text-center">
      <mat-card-title>Forgot password?</mat-card-title>
      <div class="description">
        <p>
          Don't worry, enter your email address and we will send you the link to change your password.
        </p>
      </div>
    </div>

    <form (submit)="onSubmit()" #forgotForm="ngForm">
      <mat-card-content>
        <mat-grid-list [cols]="formCols" rowHeight="fit">
          <mat-grid-tile>
            <mat-form-field appearance="fill" class="complete-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" [(ngModel)]="email" name="email"
                     email required />

              <mat-error *ngIf="hasError('email', 'required')">Email is <strong>required</strong></mat-error>
              <mat-error *ngIf="hasError('email', 'email')">Please, enter a <strong>valid email</strong></mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-card-actions class="text-center">
        <button class="complete-width form-button" type="submit" color="primary" mat-flat-button >Remember password</button>
      </mat-card-actions>
    </form>

    <mat-card-footer class="text-center to-login">
      <small *ngIf="showMessage" class="text-center message">If the e-mail is correct, we have sent a message with a link. Click on the link and change your password.</small>
      <span><a routerLink="/sign-in" class="form-link">Back to login</a></span>
    </mat-card-footer>
  </mat-card>
</div>
