<div class="form-container complete-view-port">
  <mat-card class="form-card">
    <div class="complete-width text-center">
      <mat-card-title>Change Password</mat-card-title>
    </div>
    <form *ngIf="!changed" (submit)="onSubmit()" #changeForm="ngForm">
      <mat-card-content>
        <mat-grid-list [cols]="formCols" rowHeight="fit">
          <mat-grid-tile *ngFor="let field of formFields">
            <mat-form-field appearance="fill" class="complete-width">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput (keydown)="keyDown(field)" [required]="field.requerid" [placeholder]="field.placeholder" [(ngModel)]="field.value"
                     [type]="field.type" [minlength]="field.minLength!" [name]="field.field" [ngModelOptions]="{updateOn: 'change'}" />
              <mat-error *ngIf="hasError(field.field, 'required')">This field is <strong>required</strong></mat-error>
              <mat-error *ngIf="hasError(field.field, 'minlength')">This field must be large than <strong>{{field.minLength}} characters</strong></mat-error>
              <mat-error *ngIf="hasError(field.field, 'differentPassword')">Not is the <strong>same password</strong></mat-error>
            </mat-form-field>

          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-card-actions class="text-center">
        <button color="primary" type="submit" class="complete-width form-button" mat-flat-button>Change password</button>
      </mat-card-actions>

    </form>

    <mat-card-content *ngIf="changed">
      <div class="message text-center">
        Password changed successful, <a routerLink="/sign-in" class="form-link">back to login</a>
      </div>
    </mat-card-content>


  </mat-card>
</div>
