<div class="ventana_buscar">
  <div *ngFor="let pregunta of preguntas; index as k">

    <div
    *ngIf="pregunta.course.id==recurso||item_buscar==pregunta.title"> <!-- AQUI ES LA CONDICIONAL
    PRUEBA CON ELIMINAR LOS ELEMENTOS DE RECURSOS, QUE AL FINAL SOLO QUEDE UN ELEMENTO
    -->
      <div> <!-- *ngIf="pregunta.etiqueta==indice" -->
        <div class="contenedor_card">
          <div class="encabezado_card_pregunta">
            <img src="../assets/images/user.png">
            <button class="etiqueta centrar_v">
              <img class="centrar_v" src={{asignaturas[pregunta.course.id].image}} style="width: 45px; height:40px">
              <p class="centrar_v titulo_pregunta">{{asignaturas[pregunta.course.id].name}}</p>
            </button>
            <div class="fecha_pregunta centrar_v">{{pregunta.madeAt}}</div>
          </div>

            <p class="titulo_2">{{pregunta.title}}</p>
            <p class="centrar_h titulo_pregunta">{{pregunta.description}}</p>

            <a href="agregar_respuesta" class="decoration">
              <div class="boton centrar_h" (click)="responder_pregunta_card(k)">
                Responder
              </div>
            </a>


        </div>

      </div>
    </div>

  </div>
</div>
