.contenido_contenedor{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}


/* .cu{
  position:sticky;
  top:auto;
} */
/* .co{
  position:sticky;
  top:0;

} */


/*
1. agregar asignaturas
2. agregar preguntas
3. agregar respuesta
*/
