<div class="ventana_crear_pregunta">
  <div class="Question">
    <div>
        <div class="Titulo">
            <h1><strong>Crear pregunta</strong></h1>
            <hr>
        </div>
        <div>
            <h2>Titulo</h2>
            <input type="text" class="input_titulo" placeholder="Escriba el titulo de la pregunta" [(ngModel)]="titulo"/>
            <h2>Cuerpo o descripcion de la pregunta</h2>
            <textarea type="text" class="input_descripcion" placeholder="Escriba el contenido de la pregunta" [(ngModel)]="descripcion"></textarea>
        </div>
        <div>
            <h2>Asignatura</h2>
        </div>
        <div class="contenedor_item">
            <div *ngFor="let asignatura of asignaturas; index as i">
                <div>

                    <button class="item_asignatura" (click)="set_id(asignatura.id)">
                        <img src={{asignatura.image}}>
                        <span>{{asignatura.name}}</span>
                    </button>
                </div>
            </div>
            {{etiqueta}}
            {{fecha}}
        </div>



        <div class="publicar_question" (click)="publicar_pregunta(descripcion,titulo)">
          <a href="home">
            <button class="encabezado_item boton centrar_v">Publicar pregunta</button>
          </a>

        </div>
    </div>
  </div>
</div>
