<div class="form-container complete-view-port">
  <mat-card class="form-card">
    <div class="complete-width text-center">
      <mat-card-title>Welcome Again</mat-card-title>
      <div class="description">
        <p>
          Clarify your doubts and improve your knowledge in your courses with the help of our tutors
        </p>
      </div>
      <mat-card-title>Sing in</mat-card-title>
    </div>

    <div class="complete-width flex text-center">
      <hr class="separator"/>
      o
      <hr class="separator"/>
    </div>

    <form
      (submit)="onSubmit()" #singInForm="ngForm">
      <mat-card-content>
        <mat-grid-list [cols]="formCols" rowHeight="fit">
          <mat-grid-tile *ngFor="let field of formFields">
            <mat-form-field class="complete-width" appearance="fill">
              <mat-label>{{ field.label }}</mat-label>
              <input (keydown)="keyDown(field)" (change)="onChangeField(field)" [placeholder]="field.placeholder" [name]="field.field"
                     matInput  [type]="field.type" [(ngModel)]="field.value" [required]="field.requerid" />
              <mat-error *ngIf="hasError(field.field, 'required')">{{field.label}} is <strong>required</strong></mat-error>
              <mat-error *ngIf="hasError('username', 'notExistUsername')">The username {{ field.value }} <strong>doesn't exist</strong></mat-error>
              <mat-error *ngIf="hasError('password', 'incorrectPassword')">The password is <strong>incorrect</strong></mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions class="text-center">
          <button class="complete-width form-button" mat-flat-button color="primary" type="submit">Sing in</button>
      </mat-card-actions>
    </form>

    <mat-card-footer class="grid one-rem-gap footer-sign-in">
      <div class="login flex complete-width">
        <div class="maintain-login flex">
          <mat-checkbox color="primary" [(ngModel)]="maintainSession"></mat-checkbox>
          <span>Maintain session</span>
        </div>
        <div class="forgot-password">
          <span><a class="form-link" [routerLink]="'/forgot-password'">forgot your password?</a></span>
        </div>
      </div>
      <div class="register text-center">
        <span>
          Don't have an account?
          <a [routerLink]="'/sign-up'" class="form-link">Register</a>
        </span>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
