<div class="perfil_contenedor">

  <a href="perfil" class="decoration">
    <div class="titulo_perfil">
      <img src="../assets/images/user.png">
      <div class="titulo">{{user.firstname}} {{user.lastname}}</div>

    </div>
  </a>

  <div class="datos_perfil_contenedor">

    <div>

      <div class="datos_perfil_item">
        <div class="llave">
          Respuestas
        </div>
        <div class="valor">
          {{user.points}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          BrainPoints
        </div>
        <div class="valor">
          {{user.points}}
        </div>
      </div>


      <div class="datos_perfil_item">
        <div class="llave">
          BrainLikes
        </div>
        <div class="valor">
          {{user.points}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Carrera
        </div>
        <div class="valor">
          {{user.career}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Ranking
        </div>
        <div class="valor">
          {{user.points}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Codigo
        </div>
        <div class="valor">
          {{user.upcCode}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Role
        </div>
        <div class="valor">
          {{user.userType}}
        </div>
      </div>
      <hr>

    </div>

  </div>


</div>
