<div class="profile-container complete-width grid one-rem-gap">
  <mat-card class="profile-card">
    <mat-card-header>
      <img class="profile-image" routerLink="/profile" src="../../assets/images/user.png" alt="user profile">
      <span>{{ user.firstname }}</span>
    </mat-card-header>
    <br />
    <mat-card-content >
      <div class="grid one-rem-gap">
        <div class="flex one-rem-gap">
          <span>Answers</span> <span>{{userInformation.answers}}</span>
        </div>

        <div class="flex one-rem-gap">
          <span>Brain Points</span> <span> {{ user.points }}</span>
        </div>

        <div class="flex one-rem-gap">
          <span>Brain Likes</span> <span> {{ userInformation.likes }}</span>
        </div>

        <div class="flex one-rem-gap">
          <span>Career</span> <span> {{ user.career }}</span>
        </div>

        <div class="flex one-rem-gap">
          <span>Ranking</span> <span> {{ userInformation.ranking }}</span>
        </div>

        <div class="flex one-rem-gap">
          <span>Code</span> <span> {{ user.upcCode }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="actions">
    <button mat-flat-button color="primary" routerLink="/ranking">Ranking</button>
    <button mat-flat-button color="primary" routerLink="/profile">Profile</button>
    <button mat-flat-button color="primary" routerLink="/home">Home</button>
  </div>
</div>

