<div class="perfil_contenedor">

  <a href="perfil" class="decoration">
    <div class="titulo_perfil">
      <img src="../assets/images/user.png">
      <div class="titulo">Jerry Quispe Gavilan</div>
  
    </div>
  </a>

  <div class="datos_perfil_contenedor">

    <div>

      <div class="datos_perfil_item">
        <div class="llave">
          Respuestas
        </div>
        <div class="valor">
          {{respuestas}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          BrainPoints
        </div>
        <div class="valor">
          {{brainPoints}}
        </div>
      </div>


      <div class="datos_perfil_item">
        <div class="llave">
          BrainLikes
        </div>
        <div class="valor">
          {{brainLikes}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Carrera
        </div>
        <div class="valor">
          {{carrera}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Ranking
        </div>
        <div class="valor">
          {{ranking}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Codigo
        </div>
        <div class="valor">
          {{codigo}}
        </div>
      </div>

      <div class="datos_perfil_item">
        <div class="llave">
          Role
        </div>
        <div class="valor">
          {{role}}
        </div>
      </div>
      <hr>

    </div>

  </div>


</div>
