<div class="ventana_preguntas">
  <div class="contenedor_titulo">

    <img src="../assets/images/botbrain.png">
    <div class="titulo">
      Ey! Soy BotBrain <br><br>¿Qué es lo que quieres hacer?
    </div>
  </div>

  <div class="botones_contenedor">

      <button class="boton_p btn_primero">
        <a class="decoration" href="add_pregunta">Preguntar</a>
      </button>

      <button class="boton_p btn_segundo">
        <a class="decoration" href="buscar">Responder</a>
      </button>


  </div>

  <!--INICIO contenedor CARDS PREGUNTAS -->
  <div class="contenedor_pregunta">
    <div *ngFor="let pregunta of preguntas; index as e">
      <div class="contenedor_card">
        <div class="encabezado_card_pregunta">
          <img src="../assets/images/user.png">
          <button class="etiqueta centrar_v">
            <img class="centrar_v" src={{asignaturas[pregunta.etiqueta].imagen}} style="width: 45px; height:40px">
            <p class="centrar_v titulo_pregunta">{{asignaturas[pregunta.etiqueta].curso}}</p>
          </button>
          <div class="fecha_pregunta centrar_v">{{pregunta.fecha}}</div>
        </div>
        <div>
          <p class="titulo_2">{{pregunta.titulo}}</p>
          <p class="centrar_h titulo_pregunta">{{pregunta.descripcion}}</p>

          <a href="agregar_respuesta" class="decoration" (click)="responder(e)">
            <div class="boton centrar_h" style="margin-top: 2rem; margin-bottom: 1rem;">
            Responder
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
  <!--FIN contenedor CARDS PREGUNTAS -->
</div>
