<body>

  <!-- ENCABEZADO INICIO -->
  <div class="encabezado_contenedor">
    <div class="logo">
      <a href="#" (click)="easybrain()">EasyBrain</a>
    </div>
    <div class="search">
      <input class="encabezado_item buscador" type="text" [(ngModel)]="input_buscador" placeholder="Que es lo que buscas?">
      <button (click)="buscar(input_buscador)">
        <img class="center_v" src="../assets/images/search.png">
      </button>
    </div>
    <button class="encabezado_item boton">¿Quieres ser tutor?</button>
  </div>
  <!-- ENCABEZADO FIN -->

  <div class="franja"></div>

  <!-- CONTENIDO INICIO -->
  <div class="contenido_contenedor">

    <!-- 11111111111111111111111111111111111111111111111111111111111111111111111111 -->
    <!-- ASIGANTURAS INICIO -->
    <div class="asignaturas_contenedor">

      <div class="titulo_2">
        Asignaturas
      </div>

      <div class="contenedor_for">
        <!-- for INICIO -->
        <div *ngFor="let asignatura of asignaturas; index as i">

          <div class="item_asignatura" (click)="asignaturaF(i)">
            <img src={{asignatura.imagen}}>
            <a href="#">{{asignatura.curso}}</a>
          </div>
          <hr>

        </div>
        <!-- for FIN -->
      </div>

    </div>
    <!-- ASIGANTURAS FIN -->

    <!-- 2222222222222222222222222222222222222222222222222222222222222222222222222222222222 -->
    <!-- INICIO PREGUNTAS -->
    <div class="preguntas_contenedor">



  <!-- INICIO SWITCH -->
    <div [ngSwitch]="numero">

      <div class="ventana_preguntas" *ngSwitchCase="0">
        <div class="contenedor_titulo">

          <img src="../assets/images/botbrain.png">
          <div class="titulo">
            Ey! Soy BotBrain <br>¿Qué es lo que quieres hacer?
          </div>
        </div>

        <div class="botones_contenedor">
          <button class="boton btn_primero" (click)="preguntar()">Preguntar</button>
          <button class="boton btn_segundo" (click)="responder()">Responder</button>
        </div>

        <!--INICIO contenedor CARDS PREGUNTAS -->
        <div class="contenedor_pregunta">
          <div *ngFor="let pregunta of preguntas; index as e">
            <div class="contenedor_card">
              <div class="encabezado_card_pregunta">
                <img src="../assets/images/user.png">
                <button class="etiqueta centrar_v">
                  <img class="centrar_v" src={{asignaturas[pregunta.etiqueta].imagen}} style="width: 45px; height:40px">
                  <p class="centrar_v titulo_pregunta">{{asignaturas[pregunta.etiqueta].curso}}</p>
                </button>
                <div class="fecha_pregunta centrar_v">{{pregunta.fecha}}</div>
              </div>
              <div>
                <p class="titulo_2">{{pregunta.titulo}}</p>
                <p class="centrar_h titulo_pregunta">{{pregunta.descripcion}}</p>
                <div class="boton centrar_h"
                (click)="responder_pregunta_card(e)"
                style="margin-top: 2rem; margin-bottom: 1rem;">
                  Responder
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--FIN contenedor CARDS PREGUNTAS -->
      </div>

      <div class="ventana_buscar" *ngSwitchCase="1">
        <div *ngFor="let pregunta of preguntas; index as k">
          <div *ngIf="pregunta.etiqueta==indice">
            <div class="contenedor_card">
              <div class="encabezado_card_pregunta">
                <img src="../assets/images/user.png">
                <button class="etiqueta centrar_v">
                  <img class="centrar_v" src={{asignaturas[pregunta.etiqueta].imagen}} style="width: 45px; height:40px">
                  <p class="centrar_v titulo_pregunta">{{asignaturas[pregunta.etiqueta].curso}}</p>
                </button>
                <div class="fecha_pregunta centrar_v">{{pregunta.fecha}}</div>
              </div>
              <div>
                <p class="titulo_2">{{pregunta.titulo}}</p>
                <p class="centrar_h titulo_pregunta">{{pregunta.descripcion}}</p>
                <div class="boton centrar_h" (click)="responder_pregunta_card(k)">
                  Responder
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="ventana_respuestas" *ngSwitchCase="2">
        <div class="contenedor_titulo_respuesta centrar_h">
          <div class="titulo centrar_h">
            {{preguntas[indice_respuesta].titulo}}
          </div>
          <div class="sub_text">{{preguntas[indice_respuesta].fecha}}</div>
        </div>

        <div>
          <div class="encabezado_preguntas">
            <div class="titulo_2 centrar_v centrar_l">Publicado por:</div>
            <div class="sub_text centrar_v centrar_r">{{preguntas[indice_respuesta].autor}}</div>
            <button class="etiqueta centrar_v centrar_l">
              <img class="centrar_v" src={{asignaturas[preguntas[indice_respuesta].etiqueta].imagen}} style="width: 45px; height:40px">
              <p class="centrar_v titulo_pregunta">{{asignaturas[preguntas[indice_respuesta].etiqueta].curso}}</p>
            </button>
          </div>
        </div>


                  <!-- INICIO RESPUESTA TARGET -->
                  <div *ngFor="let respuesta of preguntas[indice_respuesta].respuestas">
                    <div class="contenedor_target_respuesta">
                      <div class="encabezado_target_pregunta">
                        <div class="titulo_2 centrar_l">Respuesta de:</div>
                        <div class="sub_text">{{respuesta.autor}}</div>
                        <div class="sub_text">{{respuesta.fecha}}</div>
                      </div>
                      <div class="titulo_2">{{respuesta.descripcion}}</div>
                    </div>
                  </div>
                  <!-- FIN RESPUESTA TARGET -->
                  <h2>Cuerpo o descripcion de la respuesta</h2>
                  <textarea type="text" class="input_descripcion" [(ngModel)]="contenido_respuesta"></textarea>
                  <div class="boton responder" (click)="respuestaF(contenido_respuesta)">Responder</div>
      </div>

      <div class="ventana_crear_pregunta" *ngSwitchCase="3">
        <div class="Question">
          <div>
              <div class="Titulo">
                  <h1><strong>Crear pregunta</strong></h1>
                  <hr>
              </div>
              <div>
                  <h2>Titulo</h2>
                  <input type="text" class="input_titulo" [(ngModel)]="input_T_nueva_pregunta" placeholder="Escriba el titulo de la pregunta"/>
                  <h2>Cuerpo o descripcion de la pregunta</h2>
                  <textarea type="text" class="input_descripcion" [(ngModel)]="input_C_nueva_pregunta" placeholder="Escriba el contenido de la pregunta"></textarea>
              </div>
              <div>
                  <h2>Asignatura</h2>
              </div>
              <div class="contenedor_item">
                  <div *ngFor="let asignatura of asignaturas; index as i">
                      <div>
                        <h2>{{i}}.)</h2>
                          <button class="item_asignatura">
                              <img src={{asignatura.imagen}}>
                              <span>{{asignatura.curso}}</span>
                          </button>
                      </div>
                  </div>
              </div>

              <div>
                <h2>Etiqueta</h2>
                <input type="number" class="input_titulo" [(ngModel)]="input_E_nueva_pregunta" placeholder="Escriba el numero de asignatura/ etiqueta"/>
            </div>

              <div class="publicar_question">
                  <button class="publicar">
                      <img src="./assets/images/Vector.png"/>
                      <span (click)="publicar_pregunta(input_T_nueva_pregunta,input_C_nueva_pregunta,input_E_nueva_pregunta)">Publicar pregunta</span>
                  </button>
              </div>
          </div>
        </div>
      </div>

      <div class="ventana_perfil" *ngSwitchCase="4">
        <div class="contenedor_perfil">
          <button class="target_perfil">
            <div>
                <div class="encabezado_target_perfil">
                    <img class="centrar_l centrar_v" src="./assets/images/usuario.png"/>
                    <h1 class="centrar_r centrar_v">Brother1234</h1>
                    <img class="centrar_v" src="./assets/images/Campana.png"/>
                </div>
                <div>
                    <button class="rol titulo_2" >Estudiante</button>
                </div>
                <div class="column_3 centrar_h">

                    <div class="tex_normal">
                        <p>Respuesta</p>
                        <p>0</p>
                    </div>

                    <div class="tex_normal">
                        <p>Me gusta</p>
                        <p>0</p>
                    </div>

                    <div class="tex_normal">
                        <p>Seguidores</p>
                        <p>0</p>
                    </div>

                </div>
            </div>
            <div>
                <div style="margin-bottom:2rem;">
                    <h2 class="centrar_r">Acerca de</h2>
                    <hr>
                </div>

                <div>
                    <div *ngFor="let date of dates">
                        <div class="datos_perfil_item item_perfil">
                            <span class="llave">{{date.llave}}</span>
                            <span class="valor">{{date.valor}}</span>
                        </div>
                    </div>
                </div>

            </div>
          </button>

        </div>
      </div>

    </div>
  <!-- FIN SWITCH -->
    </div>
    <!-- RESPUESTAS FIN -->




<!-- 3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333 -->
    <!--INICIO PERFIL BARRA DERECHA -->
    <div class="perfil_contenedor">

      <div class="titulo_perfil" (click)="numero=4">
        <img src="../assets/images/user.png">
        <div class="titulo">Jerry Quispe Gavilan</div>
      </div>

      <div class="datos_perfil_contenedor">

        <div *ngFor="let dato of dates" class="datos_perfil">
          <div class="datos_perfil_item">
            <div class="llave">
              {{dato.llave}}
            </div>
            <div class="valor">
              {{dato.valor}}
            </div>
          </div>
          <hr>
        </div>

      </div>


    </div>
    <!--FIN PERFIL BARRA DERECHA -->

  </div>
  <!-- CONTENIDO FIN -->

</body>


