<div class="cont">
  <button class="target_perfil">
    <div>
        <div class="encabezado_target_perfil">
            <img class="centrar_l centrar_v" src="./assets/images/usuario.png" alt=""/>
            <h1 class="centrar_r centrar_v">Brother1234</h1>
            <img class="centrar_v" src="./assets/images/Campana.png"/>
        </div>
        <div>
            <button class="rol titulo_2" >{{user.userType}}</button>
        </div>
        <div>
          <div style="margin-bottom:2rem;">
              <h2 class="centrar_r">Acerca de</h2>
              <hr>
          </div>

      </div>
        <div class="column_3 centrar_h">

            <div class="tex_normal">
                <p class="sub_tex">Respuesta</p>
                <p>{{user.points}}</p>
            </div>

            <div class="tex_normal">
                <p class="sub_tex">Me gusta</p>
                <p>{{user.points}}</p>
            </div>

            <div class="tex_normal">
                <p class="sub_tex">Seguidores</p>
                <p>{{user.points}}</p>
            </div>

        </div>
        <div class="column_3 centrar_h">

          <div class="tex_normal">
              <p class="sub_tex">Carrera</p>
              <p>{{user.career}}</p>
          </div>

          <div class="tex_normal">
              <p class="sub_tex">Ranking</p>
              <p>#{{user.points}}</p>
          </div>

          <div class="tex_normal">
              <p class="sub_tex">Codigo</p>
              <p>{{user.upcCode}}</p>
          </div>

      </div>
    </div>

  </button>
</div>

