<div>
  <div class="title-container">
    <img src="../assets/images/botbrain.png">
    <div class="brain-welcome">
      Ey! I'm BotBrain <br><br>What do you want to do?
    </div>
  </div>
  <div class="two-grid-column">
      <button routerLink="/add-question" mat-flat-button class="ask-button">
        Ask
      </button>
      <button routerLink="/search" mat-flat-button class="reply-button">
        Reply
      </button>
  </div>
</div>

<br />

<app-show-questions>

</app-show-questions>
