<div class="asignaturas_contenedor">

  <div class="titulo_2">
    Asignaturas
  </div>

  <div class="contenedor_for">
    <!-- for INICIO -->
    <div class="for" *ngFor="let asignatura of asignaturas; index as i">

      <div class="item_asignatura" (click)="filtro_asignatura(asignatura.id)">
        <img [src]="asignatura.image" alt="course image"/>
        <a href="buscar">{{asignatura.name}}</a>
      </div>


    </div>
    <!-- for FIN -->
  </div>

    <a href="add-asignatura">
      <button class="boton">
        Agregar Asignatura
      </button>
    </a>

</div>
